Source: xbmc
Section: video
Priority: optional
Maintainer: Team XBMC <team-xbmc@lists.launchpad.net>
Uploaders: Andres Mejia <ceros@xbmc.org>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), python-support, cmake,
 autotools-dev, autoconf, automake, unzip, libboost-dev, zip, libtool,
 libgl1-mesa-dev | libgl-dev, libglu1-mesa-dev | libglu-dev, libglew-dev,
 libmad0-dev, libjpeg-dev, libsamplerate-dev, libogg-dev, libvorbis-dev,
 libfreetype6-dev, libfontconfig-dev, libbz2-dev, libfribidi-dev,
 libsqlite3-dev, libmysqlclient-dev, libasound-dev, libpng12-dev | libpng-dev,
 libpcre3-dev, liblzo2-dev, libcdio-dev, libsdl-dev, libsdl-image1.2-dev,
 libsdl-mixer1.2-dev, libenca-dev, libjasper-dev, libxt-dev,
 libxmu-dev, libcurl4-gnutls-dev | libcurl-dev,
 libdbus-1-dev, libpulse-dev,
 libavahi-common-dev, libavahi-client-dev, libxrandr-dev, libavcodec-dev,
 libavformat-dev, libavutil-dev, libpostproc-dev, libswscale-dev,
 libmpeg2-4-dev, libass-dev (>= 0.9.8), libmpcdec-dev, libflac-dev,
 libwavpack-dev, python-dev, gawk, gperf, nasm [!amd64], yasm, libcwiid1-dev,
 libbluetooth-dev, zlib1g-dev, libsmbclient-dev,
 libiso9660-dev, libssl-dev, lsb-release, libvdpau-dev, libmicrohttpd-dev,
 libmodplug-dev, librtmp-dev, libcrystalhd-dev, curl,
Standards-Version: 3.9.1
Homepage: http://xbmc.org/
Vcs-Git: git://github.com/xbmc/xbmc-packaging.git
Vcs-Browser: https://github.com/xbmc/xbmc-packaging

Package: xbmc
Architecture: all
Depends: xbmc-bin (>= ${source:Version}),
         xbmc-bin (<< ${source:Version}.1~),
         mesa-utils,
         x11-utils,
         ttf-liberation,
         ttf-dejavu-core,
         python-bluez | python-lightblue,
         ${python:Depends},
         ${misc:Depends}
Suggests: xbmc-test-helper
Recommends: python-qt3
Provides: xbmc-standalone, xbmc-data, xbmc-skin-confluence,
 xbmc-eventclients-common, xbmc-eventclients-dev, xbmc-eventclients-j2me,
 xbmc-eventclients-ps3, xbmc-eventclients-xbmc-send
Replaces: xbmc-standalone, xbmc-data, xbmc-skin-confluence,
 xbmc-eventclients-common, xbmc-eventclients-dev, xbmc-eventclients-j2me,
 xbmc-eventclients-ps3, xbmc-eventclients-xbmc-send
Conflicts: xbmc-standalone, xbmc-data, xbmc-skin-confluence,
 xbmc-eventclients-common, xbmc-eventclients-dev, xbmc-eventclients-j2me,
 xbmc-eventclients-ps3, xbmc-eventclients-xbmc-send
Description: XBMC Media Center (arch-independent data package)
 XBMC, recursive acronym for "XBMC Media Center", is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. XBMC is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, XBMC is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to XBMC, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While XBMC functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, XBMC feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This package contains all the archiecture independent data needed to have a
 working XBMC.

Package: xbmc-bin
Architecture: i386 amd64 powerpc ppc64
Depends: ${shlibs:Depends},
         ${misc:Depends}
Provides: xbmc-common, xbmc-eventclients-wiiremote
Replaces: xbmc-common, xbmc-eventclients-wiiremote
Conflicts: xbmc-common, xbmc-eventclients-wiiremote
Description: XBMC Media Center (binary data package)
 XBMC, recursive acronym for "XBMC Media Center", is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. XBMC is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, XBMC is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to XBMC, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While XBMC functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, XBMC feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This package contains all the binary data needed to have a working XBMC.

Package: xbmc-live
Architecture: all
Depends: xbmc (= ${binary:Version}),
         openssh-server,
         ${python:Depends},
         python-apt,
         adduser,
         sudo,
         whois,
         policykit-1,
         ${misc:Depends},
         ${shlibs:Depends},
Conflicts: kdm, gdm, xdm, wdm
Description: XBMC Media Center (XBMC Live package)
 XBMC, recursive acronym for "XBMC Media Center", is an award winning free and
 open source software media-player and entertainment hub for all your digital
 media. XBMC is available for Linux, Mac OS X (Leopard, Tiger and Apple TV)
 and Microsoft Windows, as well as the original Xbox game console. Created in
 2003 by a group of like minded programmers, XBMC is a non-profit project run
 and developed by volunteers located around the world. More than 50 software
 developers have contributed to XBMC, and 100-plus translators have worked to
 expand its reach, making it available in more than 30 languages.
 .
 While XBMC functions very well as a standard media player application for
 your computer, it has been designed to be the perfect companion for your
 HTPC. Supporting an almost endless range of remote controls, and combined
 with its beautiful interface and powerful skinning engine, XBMC feels very
 natural to use from the couch and is the ideal solution for your home
 theater. Once installed, your computer will become a fully functional
 multimedia jukebox.
 .
 This package is used to setup the XBMC Live environment.
